<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gabriel_codarcea.features.login">

    <application>
        <activity android:name=".view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="login"
                    android:pathPrefix="/loginActivity"
                    android:scheme="app" />
            </intent-filter>
        </activity>
    </application>

</manifest>